<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css" media="screen"> 
    <meta charset="utf-8" />
    <title> KEVIN LE</title>
</head>
<body>
        <header id="top-bar">
            <div class="logo"> <a href="/"> Kevin Le </a> </div>
            <div class="nav-bar">
                <ul class="nav-list">
                    <li class="nav-item"> <a href="/"> Code </a> </li>
                    <li class="nav-item"> <a href="/"> Photography </a> </li>
                    <li class="nav-item"> <a href="/"> About Me </a> </li>
                </ul>
            </div>
        </header>
</body>
</html>